/* ============================================>>>>> Start Navbar <<<<================================================= */
@media (max-width: 991px) {
    header nav .navbar-collapse {
        position: absolute;
        left: 10%;
        top: 68px;
        width: 80% !important;
        text-align: center;
        background-color: #222;
        padding: 10px;
        border-radius: 10px !important
    }

    header nav .nav-link::before {
        display: none;
    }

    header nav li.nav-item:hover a.nav-link {
        color: var(--main-color) !important;
    }
}

/* ========================================>>>>> Start Home Section <<<<======================================= */
@media (max-width: 768px) {
    .home h1 {
        font-size: 45px;
    }

    .home p {
        font-size: 25px;
    }
}

/* ========================================>>>>> Start About Section <<<<======================================= */

@media (max-width: 767px) {
    .about .about-box {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0;
        padding: 45px 20px !important;
    }

    .about-box .about-info {
        width: 100% !important;
    }

    .about .about-img {
        flex-direction: column;
        align-items: flex-start !important;
        margin-bottom: 20px !important;
    }

    .about .about-img img {
        margin-bottom: 20px !important;
    }

    .about-box .about-content {
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about .about-img img {
        width: 35% !important;
        /* align-self: flex-start; */
    }
}

/* ========================================>>>>> Start Services Section <<<<======================================= */
@media (max-width: 767px) {
    .service .card {
        width: 100% !important;
    }
}

/* ========================================>>>>> Start Status Section <<<<======================================= */
@media (max-width:600px) {
    .status .status-body {
        flex-direction: column;
    }

    .status .status-box {
        width: 100%;
    }
}

/* ========================================>>>>> Start Portfolio Section <<<<======================================= */
@media (max-width: 767px) {
    .portfolio .card {
        width: 100%;
    }

    .portfolio .card-info h5 {
        font-size: 20px;
    }

    .portfolio .card-info p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .portfolio .card-info h5 {
        font-size: 15px;
    }

    .portfolio .card-info p {
        font-size: 11px;
    }
}

/* ========================================>>>>> Start Testimonials Section <<<<======================================= */

@media (max-width: 767px) {
    .testimonials .carousel-item .carousel-caption {
        width: 100% !important;
    }
}

/* ========================================>>>>> Start BLogs Section <<<<======================================= */
@media (max-width: 767px) {
    .blog .blog-body .card {
        width: 100%;
    }

    .blog .blog-body .card:not(:last-child) {
        margin-bottom: 40px;
    }
}

/* ========================================>>>>> Start Contact Section <<<<======================================= */

@media (max-width: 767px) {

    .contact .contact-mail,
    .contact-touch {
        width: 100% !important;
    }
}